.main-desktop {
	--page-background: var(--seashell);
}

.main-mobile {
	--page-background: var(--white);
}

.page-content {
	margin-bottom: 141px;
}

.layout {
	display: flex;
	gap: 30px;
	margin-top: 38px;
}

.layout-row {
	flex-direction: row;
}

.layout-column {
	flex-direction: column;
}
