.container {
	width: 100%;
	max-height: 620px;
	height: 100%;
	padding: 32px;
	background-color: var(--white);
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.desktop {
	max-width: 350px;
}

.items-list {
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-height: 240px;
	overflow-y: auto;
}

.totals {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.total-rows {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.price-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.price-label {
	opacity: 0.5;
	text-transform: uppercase;
}

.price-value {
	font-weight: 700;
}

.grand-total-value {
	color: var(--raw-sienna);
}

.continue-button {
	width: 100%;
}

.modal-icon {
	margin-bottom: 33px;
}

.modal-title {
	margin-bottom: 24px;
}

.modal-description {
	opacity: 0.5;
	margin-bottom: 33px;
}

.modal-summary {
	margin-bottom: 46px;
	border-radius: var(--border-radius);
	overflow: hidden;
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: 140px;
}

.modal-summary-mobile {
	flex-direction: column;
}

.modal-summary-items {
	background-color: var(--seashell);
	padding: 24px;
	flex: 1.25;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.modal-summary-divider {
	display: block;
	height: 1px;
	width: 100%;
	background-color: var(--black);
	opacity: 0.08;
}

.modal-summary-total {
	background-color: var(--black);
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 32px;
	justify-content: center;
}

.modal-summary-total-expanded {
	justify-content: flex-end;
}

.modal-summary-total-label {
	opacity: 0.5;
	color: var(--white);
	text-transform: uppercase;
	font-weight: 400;
}

.modal-summary-total-value {
	color: var(--white);
}

.back-home-link {
	display: block;
}

.back-home-button {
	width: 100%;
}

.product-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product-row-inner {
	display: flex;
	align-items: center;
	gap: 16px;
	width: 100%;
	min-width: 0;
}

.product-image {
	border-radius: var(--border-radius);
}

.product-details {
	display: flex;
	width: 100%;
	justify-content: space-between;
	min-width: 0;
}

.product-text {
	display: flex;
	flex-direction: column;
	min-width: 0;
}

.product-name {
	font-weight: 700;
}

.product-price {
	opacity: 0.5;
	font-weight: 700;
}

.product-quantity {
	opacity: 0.5;
	font-weight: 700;
}

.view-more {
	font-size: 12px;
	opacity: 0.5;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
}

.view-more:hover {
	color: var(--raw-sienna);
	opacity: 1;
}
