.about-section {
	display: flex;
	gap: 125px;
	height: 588px;
	align-items: center;
	margin: var(--spacing-168) 0;
}

.about-section-text {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.about-section-image {
	height: 588px;
	border-radius: var(--border-radius);
}
