.about-section {
	display: flex;
	gap: 125px;
	height: 588px;
	align-items: center;
	margin: var(--spacing-168) 0;
}

.about-section-text {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.about-section-image {
	border-radius: var(--border-radius);
}

@media (max-width: 1023px) {
	.about-section-image {
		width: 100%;
		object-fit: cover;
	}
	.about-section-text {
		text-align: center;
		padding: 0 58px;
	}
}
