.navbar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	height: var(--navbar-height);
	background-color: var(--black);
	padding: 0 20px;
	z-index: 10000;
}

.navbar-content-container {
	height: 100%;
	width: 100%;
	max-width: 1110px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--onyx);
}

.nav-links {
	display: flex;
	position: absolute;
	gap: 34px;
	align-items: center;
}

.nav-link {
	text-decoration: none;
	color: var(--white);
}

.nav-link:hover {
	color: var(--raw-sienna);
}

.navbar-home-top {
	background-color: transparent;
}
