.navbar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	height: var(--navbar-height);
	background-color: var(--black);
	padding: 0 20px;
	z-index: 10;
}

.navbar-content-container {
	height: 100%;
	width: 100%;
	max-width: 1110px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--onyx);
}

.nav-links {
	display: flex;
	position: absolute;
	gap: 34px;
	align-items: center;
}

.nav-link {
	text-decoration: none;
	color: var(--white);
}

.nav-link:hover {
	color: var(--raw-sienna);
}

.navbar-home-top {
	background-color: transparent;
}

.nav-links-popup {
	flex-direction: column;
	position: absolute;
	top: calc(var(--navbar-height) - 18px);
	left: 13px;
	background-color: var(--eerie-black);
	border-radius: var(--border-radius);
	border: 2px solid var(--onyx);
	padding: 20px;
}

.nav-links-popup::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: 5px;
	top: -14px;
	border-style: solid;
	border-width: 0px 8px 12px 8px;
	border-color: transparent transparent var(--onyx) transparent;
	transform: rotate(0deg);
}
