.page {
	padding: 0 20px;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--page-background, var(--white));
}

.page-content {
	width: 100%;
	max-width: 1110px;
	padding-top: var(--navbar-height);
	position: relative;
}
