.product-card {
	margin-top: 56px;
	display: flex;
	width: 100%;
	align-items: center;
}

.product-card-content {
	display: flex;
	flex-direction: column;
}

.product-card-image {
	border-radius: var(--border-radius);
}

.number-select {
	background-color: var(--seashell);
	display: flex;
	align-items: center;
}

.number-select-button {
	height: 100%;
	min-width: 0;
	flex: 1;
}

.number-select-button span {
	opacity: 0.25;
}

.number-select-button:hover span {
	color: var(--raw-sienna);
	opacity: 1;
}

.number-select-text {
	text-align: center;
	min-width: 0;
	flex: 1;
	font-weight: 700;
}

.purchase-section {
	display: flex;
	flex-direction: column;
	gap: 47px;
}

.add-to-cart-section {
	display: flex;
	gap: 16px;
}
